[submodule "tools/interpreter"]
	path = tools/interpreter
	url = https://github.com/LDiazN/tac-interpreter
	branch = main
[submodule "tools/translator"]
	path = tools/translator
	url = https://github.com/KevinMena/tac2mips
	branch = main
[submodule "tools/optimizer"]
	path = tools/optimizer
	url = https://github.com/CDPCode/optimips-prime
	branch = main
