[submodule "tools/interpreter"]
	path = tools/interpreter
	url = https://github.com/LDiazN/tac-interpreter
[submodule "tools/translator"]
	path = tools/translator
	url = https://github.com/KevinMena/tac2mips
